header .banner-useraction-login {
  padding: 0.5rem;
  width: 15rem;
}

/* Champs login + bouton recherche */
header .banner-useraction-login-textfield {
  background-color: #fff;
  border: 1px solid #79544b;
  border-radius: 5px;
  width: 10rem;
}

header .banner-useraction-login-button {
  background-color: #79544b;
  color: #fff;
  border: 1px solid #79544b;
  border-radius: 5px;
  padding: 0.2rem;
  font-weight: bold;
}

/* Inverser couleurs au survol */
header .banner-useraction-login-button:hover {
  color: #79544b;
  background-color: #fff;
}
