.banner-useraction_mobile_menu,
.banner-header-mainmenu_button{
  font-size: 1.5rem;
}

.searchbar_mobile {
  min-width: 9rem;
}

.searchbar_mobile-textfield {
  width: 70%;
}

.banner-useraction_mobile_menu button {
  margin-bottom: 0.2rem;
}