.banner-useraction_mobile_menu,
.banner-header-mainmenu_button{
  font-size: 1.5rem;
}

.searchbar_mobile {
  min-width: 9rem;
}

.searchbar_mobile-textfield {
  width: 70%;
  border-radius: 5px;
  border: 1px solid #53b75c;
  padding: 0.4rem 0.4rem;
}

.banner-useraction_mobile_menu button {
  margin-bottom: 0.2rem;
}