/* region Mobile */

@media screen and (max-width: 768px) {

  header .banner-useraction {
    flex-direction: column;
  }

  .banner-useraction_mobile_menu {
    display: flex;
  }

  .show_mobile_menu {
    display: block;
  }

  .hide_mobile_menu {
    display: none;
  }

}

@media screen and (min-width: 768px) {

  .banner-useraction_mobile_menu {
    display: none;
  }
  
  .banner-header-mainmenu_button {
    display: none;
  }

  .hide_mobile_menu {
    display: block;
  }
}
/* end region /*
