/* On habille les liens de l'encart panier et login */
header .banner .banner-useraction-actions a{
  color: #79544b;
}

header .banner .banner-useraction-actions a:hover{
  color: #e0252d;
}

/* On met l'encart données, panier à la même hauteur */
header .banner .banner-useraction-datas {
  height: 3.2rem;
}
