/* Données du panier : nombre articles et montant total */
header .banner strong.banner-useraction-counter {
  color: #e0252d;
  font-size: 1.3rem;
}

/* On met un padding à chaque élément 
pour mettre le fond du panier dans une couleur plus sombre */
header .banner-useraction-basket, header .banner-useraction-login {
  padding: 0.5rem;
}

header .banner-useraction-basket {
  background-color: #ddcf52;
  min-width: 10rem;
}
