/* Bannière */
header .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Encart login et panier */
.banner-useraction {
  /* Habillage */
  color: #79544b;
  background-color: #f2e259;

  /* On le met côte-à-côte + réglage des espaces */
  display: flex;
  flex-direction: space-between;
}

/* Titres en vert */
.banner h3 {
  /* Habillage */
  color: #53b75c;

  /* Espace en bas */
  margin: 0 0 0.5rem 0;
}

header .banner-headerAndAdresscard {
  display: flex;
  align-items: center;
}

header .banner-adresscard {
  flex-wrap: none;
}

/* Espace entre l'encart login et panier */
header .banner-login {
  margin-right: 1rem;
}
