/* region Mobile */
@media screen and (max-width: 830px) {
  header .banner-adresscard {
    display: none;
  }
}

@media screen and (max-width: 768px) {

  .banner {
    flex-direction: column;
  }

  .banner-header-titles h1 {
    font-size: 1.33rem;

  }

  .banner-header img{
   width: 2rem;
  }

  .banner-menu {
    padding: 0.5rem;
    justify-content: space-between;
  }

  .show_mobile_menu {
    display: block;
  }

  .hide_mobile_menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  header .banner-header img{
   width: 5rem;
  }

  .hide_mobile_menu {
    display: block;
  }
}
/* end region /*
