/* On met le logo et son titre côte-à-côte*/
header .banner-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 0.5rem;
}

/* On redimensionne le logo  */
header .banner-header img {
  margin: 0.3rem;
}

/* Titre du logo */
header .banner-header h1 {
  color: #53b75c;
  margin: 0;
}

/* Sous-titre du logo */
header .banner-header h2 {
  color: #79544b;
  margin: 0;
}

header .banner-adresscard ul li {
  color: #79544b;
  font-size: 1.3rem;
  width: 12rem;
}
