/* Bannière */
header .banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* On met le logo et son titre côte-à-côte*/
header .banner-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* On redimensionne le logo  */
header .banner-header img {
  width: 5rem;
  height: 5rem;
  margin: 0.5rem;
}

/* Titre du logo */
header .banner-header h1 {
  color: #53b75c;
  margin: 0;
}

/* Sous-titre du logo */
header .banner-header h2 {
  color: #79544b;
  margin: 0;
}

/* Encart login et panier */ 
.banner-useraction {
  /* Habillage */
  color: #79544b;
  background-color: #f2e259;
  
  /* On le met côte-à-côte + réglage des espaces */
  display: flex;
  flex-direction: space-between;
}

/* Titres en vert */
.banner h3 {
  /* Habillage */
  color: #53b75c;
  
  /* Espace en bas */
  margin: 0 0 0.5rem 0;
}

/* Espace entre l'encart login et panier */
header .banner-login {
  margin-right: 1rem;
}

/* On habille les liens de l'encart panier */
header .banner .banner-useraction-actions a{
  color: #79544b;
}

header .banner .banner-useraction-actions a:hover{
  color: #e0252d;
}

/* On met l'encart données, panier à la même hauteur */
header .banner .banner-useraction-datas {
  height: 3.2rem;
}

/* Données du panier : nombre articles et montant total */
header .banner strong.banner-useraction-counter {
  color: #e0252d;
  font-size: 1.3rem;
}

/* On met un padding à chaque élément 
pour mettre le fond du panier dans une couleur plus sombre */
header .banner-useraction-basket, header .banner-useraction-login {
  padding: 0.5rem;
}

header .banner-useraction-basket {
  background-color: #ddcf52;
  min-width: 10rem;
}

/* Champs login + bouton recherche */
header .banner-useraction-login-textfield {
  background-color: #fff;
  border: 1px solid #79544b;
  border-radius: 5px;
}

header .banner-useraction-login-button {
  background-color: #79544b;
  color: #fff;
  border: 1px solid #79544b;
  border-radius: 5px;
  padding: 0.2rem;
  font-weight: bold;
}

/* Inverser couleurs au survol */
header .banner-useraction-login-button:hover {
  color: #79544b;
  background-color: #fff;
}
