* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Didact Gothic', Arial, sans-serif;
  background-color: #a0cfa5;
}

.page_content {
  max-width: 1024px;
  margin: auto;
  background-color: #fff;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: #53b75c;
	-moz-transition: color 0.5s ease-in;
	-webkit-transition:  color 0.5s ease-in;
	-o-transition:  color 0.5s ease-in;
}

button {
	border-radius: 6px;
	padding: 7px;
  background-color: #53B75C;
	color: #FFFFFF;
	border: none;
  cursor: pointer;
}

/** CARROUSEL **/
.carrousel {
  overflow: hidden;
}

.carrousel figure {
  position: relative;
  width: 300%;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: left;
  animation: 15s slide infinite;
}

@keyframes slide {
  0% { left: 0%; }
  28% { left: 0%; }
  33% { left: -100%; }
  61% { left: -100%; }
  66% { left: -200%; }
  97% { left: -200%; }
  100% { left: 0%; }
}

.carrousel .carrousel-item {
  height: 240px;
  width: 33.333333%;
  float: left;
  background-size: 100%;
}

.carrousel .carrousel-item.pepiniere {
  background: url('../src/img/carrousel_pepiniere.jpg') center center no-repeat;
  background-size: 100%;
}

.carrousel .carrousel-item.catalogue {
  background: url('../src/img/carrousel_catalogue.jpg') center center no-repeat;
  background-size: 100%;
}

.carrousel .carrousel-item.conseils {
  background: url('../src/img/carrousel_jardin.jpg') center center no-repeat;
  background-size: 100%;
}

.carrousel .carrousel-item .carrousel-bloc {
  width: 30%;
  float: right;
  font-size: initial;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  color: #fff;
}

.carrousel .carrousel-item .carrousel-bloc .carrousel-lien {
  color: #fff;
}

.carrousel .carrousel-item .carrousel-bloc .carrousel-lien:hover {
  color: #53b75c;
}
/** FIN CARROUSEL **/

/** FLEURS **/
.highlights {
  text-align: center;
}

.highlights-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.highlights-title h2 {
  margin: 0;
  padding: 0.7em 0;
}

.highlights-item {
  max-width: 20em;
  margin: 1em;
  border: 1px solid #DDDDDD;
}

.highlights-favourite .highlights-item {
  max-width: 43%;
}

.highlights-news .highlights-item {
  max-width: 29%;
}

.highlights-item a {
  display: block;
  overflow: hidden;
}

.highlights-item p {
  min-height: 10em;
}

.highlights-item:hover img {
  transform: scale(1.15) rotate(-1.5deg);
  -ms-transform: scale(1.15) rotate(-1.5deg);
  -webkit-transform: scale(1.15) rotate(-1.5deg);
  transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
}

.highlights-description {
  padding: 0 1em 1em;
}

.highlights-description p {
  color: #596263;
}

.highlights-item img {
  width: 100%;
}
/** FIN FLEURS **/

/** FOOTER **/
footer .blocInfos {
	display: flex;
  flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
  padding: 1em;
}

footer .newsletter div {
	margin-top: 5px;
}

.infosSite {
	padding: 5px 0px 5px 0px;
	text-align: center;
	background-color: #DDD;
}

.youtube {
	color: #eb381a;
}

.facebook {
	color: #3e5c9a;
}

.twitter {
	color: #1da1f2;
}

.google {
	color: #dd4f43;
}

footer .iconesMedia, header .iconesMedia {
	font-size: 30px;
	margin-right: 5px;
}
/** FIN FOOTER **/
