/* region Mobile */
@media screen and (max-width: 768px) {
  .carrousel .carrousel-item .carrousel-bloc {
    width: 60% !important;
  }

  .highlights-favourite .highlights-item {
    max-width: 80% !important;
  }

  .highlights-news .highlights-item {
    max-width: 80% !important;
  }

  .highlights-item p {
    min-height: inherit !important;
  }
}
/* end region */