/* region Mobile */
@media screen and (max-width: 768px) {
  .carrousel .carrousel-item .carrousel-bloc {
    width: 60% !important;
  }

  .highlights-news .highlights-item {
    max-width: 43% !important;
  }
  
  .carrousel .carrousel-item {
	background-size: 100% 100% !important;
  }
}

@media screen and (max-width: 640px) {
  .carrousel .carrousel-item .carrousel-bloc {
    width: 60% !important;
  }

  .highlights-favourite .highlights-item {
    max-width: inherit !important;
  }

  .highlights-news .highlights-item {
    max-width: inherit !important;
  }

  .highlights-item p {
    min-height: inherit !important;
  }
}
/* end region */