/* region Mobile */
@media screen and (max-width: 768px) {
  header .banner {
    flex-direction: column;
  }

  header nav {
    flex-direction: column;
  }

  header nav ul {
    flex-direction: column;
    width: 100%;
  }

   header nav ul li {
    width: 100%;
  }

  header nav ul li a {
    width: 100%;
    text-align: center;
  }

  .show_mobile_main_menu {
    display: flex;
  }

  .hide_mobile_main_menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {

  .show_mobile_main_menu,
  .hide_mobile_main_menu {
    display: flex;
  }
}
/* end region /*
